.invalid_input{
    border-color: red;
}

.valid_input{
    border-color: green;
}


body 
{
    background-image: url('./bg.jpg');
    height: 100%;

    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
}

.login{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#login_form{
    margin-top: 130px;
}

#formtable{
    border-collapse: separate;
    border-spacing: 11px 15px;
    margin-left: auto;
    margin-right:auto;
    font-family: Arial, Helvetica, sans-serif;
}

#welcome{
    margin-top: 70px;
    margin-right: 50px;
    margin-left: 50px;
    color: #262626;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#button_login{
    background-color:#262626;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
    font-family: Arial, Helvetica, sans-serif;

}


#button_login:hover{
    background-color: #ffffff;
    color: #262626;
    box-shadow: 0 7px 10px 0 rgba(0,0,0,0.24), 0 7px 20px 0 rgba(0,0,0,0.19);
}

table 
{
    color: #262626;
    font-size: 25px;
}


