.invalid_input{
    border-color: red;
}

.valid_input{
    border-color: green;
}

body{
    background-color: #f2f2f2;
}

.login{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#login_form{
    margin-top: 130px;
}

#formtable{
    border-collapse: separate;
    border-spacing: 0 15px;
    margin-left: auto;
    margin-right:auto;
}

#welcome{
    margin-right: 50px;
}

